li {
    color: green;
}

div {
    border: 3px solid black;
    background-color: rgb(255, 199, 154);
    width: 400px;
    height: 300px;
    padding: 20px;
    font-family: Courier, sans-serif;
    font-size: 10px;
    font-weight: italic;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    /*margin goes around the border */
}

#foo { /* ids can only be put on ONE html element*/
    color: rgb(170, 54, 0);
}