$color: green; /* variable called color that is red */

ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}

// must be compiled with "sass file_name.scss:file_name.css"
// can be done automatic with "sass --watch variables.scss:variables.css"
// sus